
# Node modules should not be committed

node_modules/

# Environment variable files
.env
.env.local
.env.production

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor config folders
.vscode/
.idea/

node_modules
.env

src/uploads/csv
src/uploads/profilePicture
src/uploads/propertyImages
src/uploads/roomImages
src/uploads/ticketImages
src/uploads/ticketVideos
src/uploads/eventImages

# Firebase service account
src/Auth/serviceAccountKey.json
